.custom-navbar {
    background-color: rgb(194, 175, 148);
    /*字体颜色*/
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-nav .nav-link {
    color: white;
}

.container{
    color: rgb(194, 175, 148);
}
